/*
            --------------------------------------------------------------------
            
            Planate theme stylesheet for WhoaVerse subverses
            By Nurdoidz
            Version 1.4 (Last modified: 2014-07-11)
            For more information, go to http://whoaverse.com/v/Planate.
            
            For custom styling documentation, visit
            https://github.com/Nurdoidz/Planate-WhoaVerse
            
            -------------------------------------------------------------------- */



/*  Body
================================================================================ */

    body {font-family: Arial, sans-serif;}


    /* Body formatting
    ---------------------------------------------------------------------------- */
        
        /* Horizontal Rule */
        hr {
            border-style: none;
            margin: 0;
            padding: 0;
        }

        /* Links */
        a,a:hover,a:focus {text-decoration: none;}

        /* Block quote */
        .md blockquote {
            border: 1px solid;
            border-radius: 0;
            margin: 5px 15px 5px 0;
            padding: 5px 10px 10px;
            -moz-box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
            -webkit-box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
            box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
        }

        /* Code */
        code,pre {border: 1px solid;}
        pre code {border: 0;}
    
    
    /* Text boxes
    ---------------------------------------------------------------------------- */
    
        .form-control {
            border: 1px solid;
            border-radius: 0;
            box-shadow: none;
            font-family: Arial, sans-serif;
        }
    
    
    /* Voting arrows
    ---------------------------------------------------------------------------- */
    
        .arrow-downvote,.arrow-downvoted,.arrow-upvote,.arrow-upvoted {
            width: 18px;
            height: 19px;
            background: url('http://i.imgur.com/BDutAqr.png')
        }
        
            /* Downvote */
            .arrow-downvote {background-position: 0 0;}
                .arrow-downvoted {background-position: 0 -19px;}
            /* Upvote */
            .arrow-upvote {background-position: -18px 0;}
                .arrow-upvoted {background-position: -18px -19px;}
                
                
    /* Submission boxes
    ---------------------------------------------------------------------------- */
    
        .well {margin-top: 26px;}


    /* Shadows
    ---------------------------------------------------------------------------- */

        .side,
        .link,
        .commentarea,
        #header:after,
        .well,
        .content form {
            -moz-box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
            -webkit-box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
            box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
        }
    
    
    /* Buttons
    ---------------------------------------------------------------------------- */
    
        /* Global */
        .btn-default,
        .btn-whoaverse,
        .btn-whoaverse-default,
        .btn-whoaverse-medium,
        .btn-whoaverse-paging,
        .titlebox h5 a,
        .sidecontentbox a.helplink {
            border: 0;
            border-radius: 2px;
            font-family: "Segoe UI", Calibri, sans-serif;
            font-size: 16px;
            font-weight: normal;
            padding: 6px;
            text-shadow: none;
            text-decoration: none !important;
            -moz-box-shadow: inset -2px -2px 0 rgba(0,0,0,0.2);
            -webkit-box-shadow: inset -2px -2px 0 rgba(0,0,0,0.2);
            box-shadow: inset -2px -2px 0 rgba(0,0,0,0.2);
        }
        
        /* Subscribe/unsubscribe */
        .btn-whoaverse-paging {
            font-size: 10px;
            padding: 3px;
        }
                
        /* Submit */
        .btn-whoaverse-medium,.well .btn-whoaverse,.commentarea .btn-whoaverse-paging {
            border: 0 none;
            font-size: 14px;
            -moz-box-shadow: 1px 1px 0 rgba(0,0,0,0.1);
            -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,0.1);
            box-shadow: 1px 1px 0 rgba(0,0,0,0.1);
        }
        
        /* Comment reply */
        .commentarea .btn-whoaverse-paging {font-size: 12px;}



/*  Header
================================================================================ */

    #header {border: 0;}
    
    
    /* Top-top header bar (other subverses links)
    ---------------------------------------------------------------------------- */
        
        /* Background */
        #sr-header-area,#sr-more-link {
            background-color: #222 !important;
            border: 1px solid #444 !important;
            opacity: 0.5;
        }
        #sr-more-link {top: 17px;}
            
        /* Hover effect */
        #sr-header-area:hover,#sr-header-area:hover #sr-more-link,.whoaSubscriptionMenu ul:hover {opacity: 1;}
        
        /* Links */
        #sr-header-area,#sr-header-area a,#sr-more-link {color: #EEE;}
            #sr-header-area a:hover,#sr-more-link {text-decoration: none;}
        
        /* "My subverses" drop-down menu */
        .whoaSubscriptionMenu li ul {border: 1px solid #666;}
        .whoaSubscriptionMenu li ul li a:link,.whoaSubscriptionMenu li ul li a:visited {background-color:#222; border:1px solid #444;}
        .whoaSubscriptionMenu li ul li a:hover {background-color:#000;}
        .whoaSubscriptionMenu ul {position: absolute;z-index: 50;}

    
    /* Main header bar
    ---------------------------------------------------------------------------- */
    
        #header:after {
            border: 1px solid;
            content: " ";
            display: block;
            height: 50px;
            top: 150px;
            left: 0px;
            position: absolute;
            width: 100%;
            z-index: 1;
        }
    
    
        /* Left (logo, subverse name, tab menu ...)
        ------------------------------------------------------------------------ */
        
            #header-bottom-left {
                position: absolute;
                z-index: 10;
                width: 50px;
                top: 150px;
                left: 10px;
                margin: 0;
            }
            
            
            /* Logo
            -------------------------------------------------------------------- */
            
                #header-img {
                    position: absolute;
                    z-index: 5;
                    top: 3px;
                    left: 0;
                } 

            
            /* Subverse name
            -------------------------------------------------------------------- */
            
                .pagename {
                    font-variant: normal;
                    text-transform: lowercase;
                    font-size: 18px;
                }
                .pagename a {
                    font-weight: normal;
                    position: absolute;
                    z-index: 15;
                    top: 17px;
                    left: 131px;
                    height: 24px;
                    text-decoration: none !important;
                    font-family: "Segoe UI", Calibri, sans-serif;
                }


            /* Tab menu
            -------------------------------------------------------------------- */
                
                #header .tabmenu {
                    display: block;
                    position: absolute;
                    top: 13px;
                    left: 260px;
                    background-color: transparent !important;
                    border-bottom: 0;
                    font-family: "Segoe UI", Calibri, sans-serif;
                    font-weight: normal;
                    height: 24px;
                    list-style-type: none;
                    margin: 0;
                    min-width: 450px;
                    padding-left: 55px;
                    padding: 0px;
                    text-align: left;
                    vertical-align: bottom;
                    white-space: nowrap;
                    z-index: 6;
                }
                
                    .tabmenu li {
                        font-weight: normal;
                        display: inline-block;
                        text-transform: lowercase;
                        margin: 0;
                        padding: 4px 6px 0 6px !important;
                        font-size: 18px;
                        border: 0;
                    }

                    
                    /* Unselected tabs
                    ------------------------------------------------------------ */
                    
                        .tabmenu li a {
                            padding: 2px 2px 0 2px;
                            border-top: 2px solid;
                            background-color: transparent !important;
                        }
                            .tabmenu li a:hover {border-top: 2px solid;}

                    
                    /* Selected tab
                    ------------------------------------------------------------ */
                    
                        .tabmenu li.selected {border: 0;}
                            .tabmenu li.selected a {border: 0 !important;}
        

        /* Right (account information)
        ------------------------------------------------------------------------ */

            #header-bottom-right {
                opacity: 0;
                display: block;
                border-radius: 0;
                position: absolute;
                z-index: 6;
                top: 174px;
                right: 0;
                padding: 0;
                margin-right: 20px;
                width: auto;
                height: 12px;
                background-color: transparent !important;
            }
            
                /* Hover effects */
                #header:hover #header-bottom-right {opacity: 1;}
                #header-bottom-right,#header-bottom-right a,#header-bottom-right .user,#header-bottom-right .separator {color: #333;}
                    #header-bottom-right:hover .user {color: #111;}
    


/*  Sidebar
================================================================================ */

    .side {
        margin: 60px 10px 0;
        padding: 10px;
        width: 300px;
        border: 1px solid;
    }

    .side a:hover {text-decoration: underline;}


    /* Search
    ---------------------------------------------------------------------------- */
    
        .side .form-control {
            border-radius: 0;
            border-style: solid none;
            margin: 0 -10px;
            text-align: center;
            width: 298px;
        }
            .form-control:focus {
                box-shadow: none;
            }
    
    
    /* Headings
    ---------------------------------------------------------------------------- */

        
        /* Description
        ------------------------------------------------------------------------ */
        
            .titlebox .md {font-size: 14px;}

            /* Box heading
            -------------------------------------------------------------------- */

                .titlebox .md h2 {
                    font-family: "Segoe UI", Calibri, sans-serif;
                    font-size: 16px !important;
                    margin-top: 15px;
                    padding: 5px 0;
                    text-align: center;
                }

                .titlebox .md ul {
                    margin-left: 20px;
                    margin-right: 10px;
                }

                .titlebox .md h2 + blockquote {
                    margin: 0;
                    font-size: 13px;
                    -moz-box-shadow: 4px 4px 0 rgba(0,0,0,0.1);
                    -webkit-box-shadow: 4px 4px 0 rgba(0,0,0,0.1);
                    box-shadow: 0 3px 0 rgba(0,0,0,0.1);
                    background-color: transparent;
                    padding-top: 0;
                    border: 1px solid;
                }


            /* Button */
            .titlebox h5 a,.titlebox h5 a:hover,.sidecontentbox a.helplink {
                width: 100%;
                height: 30px;
                display: block;
                font-size: 14px;
                font-weight: normal;
                text-align: center;
                line-height: 30px;
                margin: 10px 0;
                text-decoration: none;
                cursor: pointer;
                padding: 0;
            }

        
        /* Submission info
        ------------------------------------------------------------------------ */
            
            .submissioninfo {border: 0;}
            
            .titlebox.submissioninfo h2 {
                border: 0 !important;
                font-weight: bold;
                font-size: 14px;
            }
            
            .titlebox .bottom {border: 0;}
        
        
        /* Subverse name
        ------------------------------------------------------------------------ */
        
            .titlebox h1 a,.titlebox h1 {
                margin: 0;
                margin-bottom: 10px;
                border: 0;
                text-transform: lowercase;
                font-style: normal;
                font-size: 24px;
                font-family: "Segoe UI", Calibri, sans-serif;
                font-weight: lighter;
                text-align: left;
            }
                .titlebox h1 a:hover {text-decoration: none;}


        /* Subscribe
        ------------------------------------------------------------------------ */

            .side .btn-whoaverse-paging {padding: 3px 10px;}
        
        
        /* Moderators, Administration tools ...
        ------------------------------------------------------------------------ */
        
        
            /* 'Message the moderators' */
            .sidecontentbox a.helplink {float: none;}

            .side .title h1 {
                text-transform: lowercase;
                border: 0;
                font-weight: bold;
            }
            
            /* List box */
            .sidecontentbox .content {border: 0;}
                .icon-menu a {background-color: transparent;}



/*  Post feed
================================================================================ */

    .content {margin: 34px 0 0 10px;}


    /* Posts list
    ---------------------------------------------------------------------------- */

        .link {
            padding: 10px 0;
            border: 1px solid;
            margin: 0 320px 10px 0;
            font-size: 10px;
        }

            /* Thumbnail */
            .thumbnail {background-color: transparent;}

            /* Post titles */
            .link .title.may-blank {
                font-weight: bold;
                font-size: 18px;
            }
                .link .title a:hover {text-decoration: underline;}
            
            /* Post link domain */
            .domain a {
                text-decoration: none !important;
                font-weight: bold;
            }
            
            /* Post tag line */
            .tagline {font-size: 12px;}
                .link .tagline .commentvotesratio {opacity: 0;}
                    .link:hover .tagline .commentvotesratio {opacity: 1;}
            
            
            /* Discuss, comments, share ... */
            .link .entry .flat-list.buttons li a {opacity: 0;}
            .link:hover .entry .flat-list.buttons li a {opacity: 1;}
                .link .entry .flat-list.buttons li .comments {opacity: 1 !important;}
        
        
        /* Expando button
        ------------------------------------------------------------------------ */
        
            .expando-button.selftext.collapsed,
            .expando-button.selftext.collapsed:hover,
            .expando-button.selftext.expanded,
            .expando-button.selftext.expanded:hover {
                background-repeat: no-repeat;
                background: url(http://i.imgur.com/BDutAqr.png);
                height: 26px;
                width: 26px;
            }
            
            .expando-button {
                height: 26px;
                width: 26px;
            }
            
                /* Collapsed */
                .expando-button.selftext.collapsed {background-position: -36px 0;}
                    .expando-button.selftext.collapsed:hover {background-position: -36px -26px;}
        
            

/*  Post page
================================================================================ */

    .link .usertext .md {
        border-radius: 0;
        margin-right: 10px;
        border: 1px solid;
    }

    .link .usertext .md a:hover {text-decoration: underline;}

    .md {font-size: 14px;}
    

    /* Heading formatting
    ---------------------------------------------------------------------------- */

        /* Heading 1 */
        .usertext .md h1,.commentarea .md h1 {
            font-size: 150%;
            border-bottom: 1px dotted;
        }
        
        /* Heading 2 */
        .usertext .md h2,.commentarea .md h2 {
            font-size: 135%;
            font-weight: bold;
        }
        
        /* Heading 3 */
        .usertext .md h3,.commentarea .md h3 {font-size: 120%;}

        /* Table */
        .md table {
            border: 2px solid;
            box-shadow: none;
        }
        .md td,.md th {border: 2px solid;}


    /* Comments
    ---------------------------------------------------------------------------- */

        /* Comment area */
        .commentarea {
            margin-right: 320px;
            margin-top: -1px;
            padding: 10px;
            border: 1px solid;
            border-top: 0;
        }

        .commentarea a:hover {text-decoration: underline;}

        /* Reply form */
        .commenttextarea,.form-control {
            border-radius: 0;
            font-family: Arial, sans-serif;
        }
        .commenttextarea:focus {
            border: 1px solid;
        }

        .content form {
            margin: 0 320px -3px 0;
            padding: 10px;
            border: 1px solid;
            border-bottom: 0;
        }
            .content form hr {border: 0;}
            .sitetable form,.well form {
                margin: 0;
                padding: 0;
                box-shadow: none;
                background-color: transparent;
                border: 0;
            }

        .label-default {background-color: transparent;}
            
        /* Single comments */
        .comment .child, .comment .showreplies {
            margin-top: 10px !important;
            padding-left: 28px !important;
        }
        .comment {padding: 5px 8px 5px 5px !important}
        .comment .comment {border: 1px solid;}



/* Submit link page
================================================================================ */

    .alert-info,.info th,thead>tr>td.info,
    .table>tbody>tr>td.info,.table>tfoot>tr>td.info,
    .table>thead>tr>th.info,.table>tbody>tr>th.info,
    .table>tfoot>tr>th.info,.table>thead>tr.info>td,
    .table>tbody>tr.info>td,.table>tfoot>tr.info>td,
    .table>thead>tr.info>th,.table>tbody>tr.info>th,
    .table>tfoot>tr.info>th {
        border: 0;
        border-radius: 0;
    }

    .well {border: 1px solid;}

    .panel-title a:hover,.well a:hover {text-decoration: underline;}

    .panel {border: 1px solid;}

    .table-hover > tbody > tr:hover > td,
    .table-hover > tbody > tr:hover > th {background-color: inherit;}



/*  Footer
================================================================================ */

    .footer:before {
        display: block;
        margin: 10px;
        font-size: 16px;
        content: "Subverse theme /v/Planate"; /* Please do not remove! */
    }
    
    .footer {border: 0;}



/*  Theme colors and customization
================================================================================ */

    /* Header image */
    #header {background: url(http://i.imgur.com/IVAIgeY.png) no-repeat fixed 50% 0;}
    
    
    /* Background colors
    ---------------------------------------------------------------------------- */

        body                                                                                {background-color: #EEE;} /* Body */
        .md blockquote,pre,code                                                          {background-color: #FAFAFA;} /* Block quote, code */
        .commenttextarea,.form-control                                                      {background-color: #FFF;} /* Text box, search */
        .md table                                                                    {background-color: transparent;} /* Table */
        .md th                                                                              {background-color: #EEE;} /* Table header */
        #header:after,                                                                                                /* Header bar */
        .side,                                                                                                        /* Sidebar */
        .link,                                                                                                        /* Links */
        .commentarea,.content form,                                                                                   /* Comments */
        .comment .comment .comment,
        .comment .comment .comment .comment .comment,
        .comment .comment .comment .comment .comment .comment .comment,
        .comment .comment .comment .comment .comment .comment .comment .comment .comment    {background-color: #FFF;} /* Odd child comments */
        .link .usertext .md                                                              {background-color: #FAFAFA;} /* Link > self text */
        .titlebox .md h2                                                                    {background-color: #48E;} /* Sidebar > special heading */
        .comment .comment,
        .comment .comment .comment .comment,
        .comment .comment .comment .comment .comment .comment,
        .comment .comment .comment .comment .comment .comment .comment .comment          {background-color: #FCFCFC;} /* Comment thread > even child comments */
        .well,.panel                                                                        {background-color: #FFF;} /* Submit link form > submit link table */
        .panel-default > .panel-heading                                                     {background-color: #48E;} /* Submit link table > title bar */
        .alert-info,.info th,thead>tr>td.info,
        .table>tbody>tr>td.info,.table>tfoot>tr>td.info,
        .table>thead>tr>th.info,.table>tbody>tr>th.info,
        .table>tfoot>tr>th.info,.table>thead>tr.info>td,
        .table>tbody>tr.info>td,.table>tfoot>tr.info>td,
        .table>thead>tr.info>th,.table>tbody>tr.info>th,
        .table>tfoot>tr.info>th                                                             {background-color: #48E;} /* Submit link table > information table */
        .table-striped > tbody > tr:nth-child(2n+1) > td,
        .table-striped > tbody > tr:nth-child(2n+1) > th                      {background-color: #FAFAFA !important;} /* Submit link table > odd rows */


    /* Border colors
    ---------------------------------------------------------------------------- */

        .md blockquote,                                        /* Block quote */
        pre,code,                                              /* Code */
        .md table,.md th,.md td          {border-color: #EEE;} /* Table */
        .link .usertext .md,                                   /* Link > self text */
        .comment .comment                {border-color: #DDD;} /* Comment thread > child */
        #header:after,                                         /* Header bar */
        .link,                                                 /* Link */
        .side,                                                 /* Sidebar */
        .side .form-control,                                   /* Search */
        .commentarea,                                          /* Comment area */
        .content form,.well           {border-color: #F0F0F0;} /* Submit box */
        .tabmenu li a             {border-color: transparent;} /* Header tab menu > unselected */
            .tabmenu li a:hover          {border-color: #AAA;} /* Header tab menu > unselected (hover) */
        .usertext .md h1,
        .commentarea .md h1              {border-color: gray;} /* Link > self text/comment heading */
        .titlebox .md h2 + blockquote    {border-color: #DDD;} /* Sidebar > special heading */
        .commenttextarea:focus,
        .form-control:focus              {border-color: #CCC;} /* Text box (focused) */
        .side .form-control:focus        {border-color: #CCC;} /* Search */
        .commenttextarea,
        .panel,.form-control             {border-color: #EEE;} /* Submit link table */
  

    /* Hyperlink colors
    ---------------------------------------------------------------------------- */

        a,                                                                    /* Default */
        #header-bottom-right a:hover,                                         /* Header > right (hover) */
        .link a,                                                              /* Link */
        .link .title.may-blank,                                               /* Link title */
        .domain a:hover,                                                      /* Link domain (hover) */
        .link .entry .flat-list.buttons li .comments,                         /* Link 'comments' */
        .side a,                                                              /* Sidebar */
        .sidecontentbox .content a:hover,                                     /* Sidebar moderators list (hover) */
        .comment .expand:hover,                                               /* Comment > expand/collapse (hover) */
        .tagline a                                             {color: #48E;} /* Comment tagline */
        a:hover,                                                              /* Default (hover) */
        .link a:hover,                                                        /* Link (hover) */
        .link .title.may-blank:hover,                                         /* Link title (hover) */
        .link .entry .flat-list.buttons li .comments:hover,                   /* Link 'comments' (hover) */
        .side a:hover                                          {color: #59F;} /* Sidebar (hover) */
        #sr-header-area a:hover                             {color: #6BA6FF;} /* Header > top bar (hover) */
        .pagename a                                            {color: #555;} /* Header > subverse name */
            .pagename a:hover                                  {color: #48E;} /* Header > subverse name (hover) */
        .tabmenu li.selected a                                 {color: #555;} /* Header tab menu > selected */
            .tabmenu li.selected a:hover                       {color: #333;} /* Header tab menu > selected (hover) */
        .tabmenu li a                                          {color: #AAA;} /* Header tab menu > unselected */
            .tabmenu li a:hover                                {color: #777;} /* Header tab menu > unselected (hover) */
        .domain a                                              {color: #AAA;} /* Link domain */
        .titlebox h1,.titlebox h1 a                            {color: #555;} /* Sidebar subverse name */
        .titlebox h1 a:hover                                   {color: #48E;} /* Sidebar subverse name (hover) */
        .titlebox h5 a,.titlebox h5 a:hover,
        .sidecontentbox a.helplink                             {color: #FFF;} /* Sidebar > custom h5 button */
        .sidecontentbox .content a                             {color: #666;} /* Sidebar moderators list */
        .tagline .moderator                                 {color: #22AA20;} /* Comment > 'mod' */
        .tagline .submitter                                 {color: #3A6FBD;} /* Comment > 'submitter' */
        .entry .buttons li a                                   {color: #777;} /* Comment > bottom buttons */
        .panel-title a,.panel-title a:hover                    {color: #FFF;} /* Submit > a */


    /* Text colors
    ---------------------------------------------------------------------------- */

        body                                     {color: #333;} /* Default */
        pre,code                                 {color: #333;} /* Code */
        .user                                    {color: #111;} /* User points */
        .md th                                   {color: #333;} /* Table header */
        .md td                                   {color: #333;} /* Table cell */
        .side                                    {color: #444;} /* Sidebar */
        .side .form-control                      {color: #444;} /* Sidebar search box (user) */
        .side .form-control::-moz-placeholder    {color: #444;} /* Sidebar search box (unfocused) */
        .h6                                      {color: #444;} /* Sidebar submission info */
        .titlebox.submissioninfo h2              {color: #444;} /* Sidebar submission info heading */
        .titlebox .md h2              {color: #FFF !important;} /* Sidebar > special heading */
        .titlebox .bottom                        {color: #666;} /* Sidebar > 'created by ...' */
        .side .title h1                          {color: #444;} /* Sidebar moderators and admin tools */
        .domain                           {color: transparent;} /* Link domain */
        .tagline                                 {color: #AAA;} /* Link tagline */
            .link:hover .tagline                 {color: #555;} /* Link (hover) tagline */
        .link .score                             {color: #999;} /* Link score */
            .link .score.likes                   {color: #D64;} /* Link score > like */
            .link .score.dislikes                {color: #58D;} /* Link score > dislike */
        .usertext .md h1,.usertext .md .h1,
        .usertext .md h2,.usertext .md .h2,
        .usertext .md h3,.usertext .md .h3,
        .usertext .md h4,.usertext .md .h4,
        .usertext .md h5,.usertext .md .h5,
        .usertext .md h6,.usertext .md .h6       {color: #444;} /* Link > self text headings */
        .commenttextarea,.form-control           {color: #333;} /* Comment form */
        .label                                   {color: #444;} /* Comment > top x show x */
        .comment .expand                         {color: #777;} /* Comment > expand/collapse */
        .panel-default > .panel-heading          {color: #333;} /* Submit link table > title bar */
        .footer:before                           {color: #777;} /* Footer > 'Subverse theme' */


    /* Button colors
    ---------------------------------------------------------------------------- */

        .btn-default,.btn-whoaverse-default,                                                        /* Default */
        .btn-whoaverse-medium,                                                                      /* Default > 'submit' */
        .pagination-container .btn-whoaverse-paging a,                                              /* Link > 'next page' */
        .side .btn-whoaverse,                                                                       /* Sidebar > 'share a link' and 'start a discussion' */
        .side .btn-whoaverse-paging,                                                                /* Sidebar > 'subscribe' */
        .titlebox h5 a,.sidecontentbox a.helplink,                                                  /* Sidebar > h5 button */
        .commentarea .btn-whoaverse-paging,                                                         /* Comment > 'reply' and 'cancel' */
        .well .btn-whoaverse                      {color: #FFF !important; background-color: #48E;} /* Submit > 'submit' */
        .btn-default:hover,.btn-whoaverse-default:hover,                                            /* Default (hover) */
        .btn-whoaverse-medium:hover,                                                                /* Default > 'submit' (hover) */
        .pagination-container .btn-whoaverse-paging a:hover,                                        /* Link > 'next page' (hover) */
        .side .btn-whoaverse:hover,                                                                 /* Sidebar > 'share a link' and 'start a discussion' (hover) */
        .side .btn-whoaverse-paging:hover,                                                          /* Sidebar > 'subscribe' (hover) */
        .titlebox h5 a:hover,.sidecontentbox a.helplink:hover,                                      /* Sidebar > h5 button (hover) */
        .commentarea .btn-whoaverse-paging:hover,                                                   /* Comment > 'reply' and 'cancel' (hover) */
        .well .btn-whoaverse:hover                                        {background-color: #59F;} /* Submit > 'submit' */
    

    /* Name of subscribers
    ---------------------------------------------------------------------------- */

        .subscribers .word {visibility: hidden;}
        .subscribers .word:before {
            content: "planaters";
            visibility: visible
        }
        .users-online .word {visibility: hidden;}
        .users-online .word:before {
            content: "users online";
            visibility: visible;
        }



/*  Transitions
    ============================================================================ */

    /* Opacity
    ---------------------------------------------------------------------------- */
    
        .tagline .commentvotesratio,
        .link:hover .entry li a,
        #header-bottom-right,
        #sr-header-area {
            -webkit-transition: opacity 0.25s ease;
            -moz-transition: opacity 0.25s ease;
            -o-transition: opacity 0.25s ease;
            transition: opacity 0.25s ease;
        }
    
    
    /* Color
    ---------------------------------------------------------------------------- */

        /* Text */
        .tabmenu li a,
        .pagename a,
        #header-bottom-right:hover .user,
        .titlebox h1 a,
        .tagline {
            -webkit-transition: color 0.25s ease;
            -moz-transition: color 0.25s ease;
            -o-transition: color 0.25s ease;
            transition: color 0.25s ease;
        }
        
        /* Border */
        .tabmenu li a {
            -webkit-transition: border-color 0.25s ease;
            -moz-transition: border-color 0.25s ease;
            -o-transition: border-color 0.25s ease;
            transition: border-color 0.25s ease;
        }



/*  Mobile
================================================================================ */

    @media (max-width: 800px) and (min-width: 100px) {

        /* Header -------------------------------------------------------------- */
        #header:after {height: 100px;}

            /* Left ------------------------------------------------------------ */
            .pagename a {top: 27px;}
            #header .tabmenu {top: 63px; left: 10px; padding-left: 0;}
                .tabmenu li {font-size: 16px;}

            /* Right ----------------------------------------------------------- */
            #header-bottom-right {margin-right: 10px; top: 155px;}

        /* Sidebar ------------------------------------------------------------- */
        .side {display: none;}

        /* Post feed ----------------------------------------------------------- */
        .link,.commentarea,.content form {margin-right: 10px;}
        .link .title.may-blank {font-size: 14px;}
        .link .flat-list {font-size: 12px;}

        /* Comments ------------------------------------------------------------ */
        .commentarea .flat-list.buttons {font-size: 12px;}
        .content {margin-top: 83px;}
        .comment .child, .comment .showreplies {padding-left: 10px !important;}

        /* Transitions --------------------------------------------------------- */
        #sr-header-area,
        #sr-more-link,
        #header-bottom-right,
        .link .tagline .commentvotesratio,
        .link .entry .flat-list.buttons li a {opacity: 1 !important;}

        /* Footer -------------------------------------------------------------- */
        .footer,.footer a {font-size: 14px;}
    }


