/*  ****************************************************************************

    Planate version 3 (2014-07-18)
    Theme for WhoaVerse < http://whoaverse.com >
    By Nurdoidz
    https://github.com/Nurdoidz/Planate-WhoaVerse

    **************************************************************************** */

body {
    background-color: #EEE;
    color:            #333;
    font-family:      Arial,sans-serif;
    font-size:        10px;
}

.btn-whoaverse-paging {
    background:    #F8F8F8;
    background:    -webkit-linear-gradient( top,#FDFDFD,#F7F7F7 );
    background:    -moz-linear-gradient( top,#FDFDFD,#F7F7F7 );
    background:    -ms-linear-gradient( top,#FDFDFD,#F7F7F7 );
    background:    -o-linear-gradient( top,#FDFDFD,#F7F7F7 );
    border:        1px solid #DFDFDF;
    border-radius: 3px;
    box-shadow:    0 1px 0 hsla( 0,0%,0%,0.1 );
    color:         #4C4C4C;
    display:       inline-block;
    font-size:     0.8em;
    font-weight:   bold;
    padding:       2px 6px;
    text-align:    center;
}
.btn-whoaverse-paging:hover {
    background:   #F8F8F8;
    background:   -webkit-linear-gradient( top,#F8F8F8,#F2F2F2 );
    background:   -moz-linear-gradient( top,#F8F8F8,#F2F2F2 );
    background:   -ms-linear-gradient( top,#F8F8F8,#F2F2F2 );
    background:   -o-linear-gradient( top,#F8F8F8,#F2F2F2 );
    border-color: #CCC;
    box-shadow:   0 1px 0 hsla( 0,0%,0%,0.15 );
    color:        #444;
}


#header {
    background-color: #EEE;
}

    #header-bottom-left {
        background-color: #FFF;
        box-shadow:       0 2px 0 hsla( 0,0%,0%,0.05 );
    }

        .tabmenu li a {
            margin-left:   9px;
            margin-right:  9px;
            padding-left:  4px;
            padding-right: 4px;
            transition:    color 0.25s ease;
        }

        .tabmenu li.disabled a {
            background-color: none;
            border:           0;
            border-top:       2px solid transparent;
            border-radius:    0;
            box-shadow:       none;
            color:            #AAA;
        }
        .tabmenu li.disabled a:hover {
            background-color: none;
            color:            #777;
            border:           0;
            border-top:       2px solid #AAA;
            box-shadow:       none;
        }

        .tabmenu li.selected a {
            background-color: none;
            border:           0;
            border-radius:    0;
            box-shadow:       none;
            color:            #555;
        }
        .tabmenu li.selected a:hover {
            box-shadow: none;
            color:      #111;
        }

.side {
    background-color: #FFF;
    border:           1px solid #E3E3E3;
    border-radius:    2px;
    box-shadow:       0 2px 0 hsla( 0,0%,0%,0.05 );
}

.sitetable.linklisting {
    background-color: #FFF;
    border:           1px solid #E3E3E3;
    border-radius:    2px;
    box-shadow:       0 2px 0 hsla( 0,0%,0%,0.05 );
    padding:          0 13px;
}
    
    .link {
        border-bottom:  1px solid #E3E3E3;
        margin-bottom:  0;
        margin-top:     0;
        padding-bottom: 12px;
        padding-top:    12px;
    }

        .link .rank {
            color:      #CCC;
            font-size:  1em;
            margin-top: 20px;
        }

        .link .title {
            font-size:     1.20em;
            line-height:   1.4;
            margin-bottom: 3px;
        }

            .link .title a.may-blank {
                color: #3C8FC2;
            }
            .link .title a.may-blank:hover {
                color:           #3C8FC2;
                text-decoration: underline;
            }
            .link .title a.may-blank:visited {
                color: #555;
            }

        .link .usertext .md {
            border-radius: 2px;
            box-shadow:    none;
        }

.content > form {
    background-color: #FFF;
    border:           1px solid #E3E3E3;
    box-shadow:       0 2px 0 hsla( 0,0%,0%,0.05 );
    margin-top:       10px;
    padding:          13px;
}

.menuarea {
    background-color: #FFF;
    border:           1px solid #E3E3E3;
    border-bottom:    0;
    margin:           0;
    padding:          13px 13px 0;
}

.commentarea {
    background-color: #FFF;
    border:           1px solid #E3E3E3;
    border-top:       0;
    border-radius:    2px;
    box-shadow:       0 2px 0 hsla( 0,0%,0%,0.05 );
    padding:          13px;
}

.well {
    background-color: #FFF;
    border:           1px solid #E3E3E3;
    border-radius:    2px;
    box-shadow:       0 2px 0 hsla( 0,0%,0%,0.05 );
}

.footer:before {
    color:     #777;
    content:   "Subverse theme /v/Planate"; /* Please do not remove! */
    display:   block;
    font-size: 1.5em;
    margin:    10px;
}
